<% @products.each do |product| %>
  <div class="product">
    <%= radio_button_tag("id", product.id, false) %>	
    <%= image_tag("products/" + product.image_file_name) %>
    <h2><%= product.title %></h2>
  </div>
<% end %>
<div id="div-button">
	<input type="button" value="Efetuar Pagamento" onclick="alert('Selecione um Produto.')">
</div>
<div style="clear:both"></div>